/*------------*/
/* ANIMATIONS */
/*------------*/

@keyframes panelAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*------------------*/
/* COMPONENT: Panel */
/*------------------*/

.Panel {
    opacity: 0;
    position: fixed;
    height: 10vh;
    min-height: 50px;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
    animation: panelAppear 1s ease-in-out forwards;
    animation-delay: 5s;
    display: flex;
    flex-direction: row;
}

.Panel > div {
    width: 20vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

/*--------------------------*/
/* COMPONENT: Panel buttons */
/*--------------------------*/

.Panel > div > button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.Panel > div > button > p {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
}

.Panel > div > button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 8px solid white;
}

.Panel > div > button:nth-of-type(2) {
    display: none;
}

.ViewedPanel > button {
    background-color: rgba(0, 0, 0, 0.25) !important;
    border-bottom: 8px solid white !important;
}

/*-------------------------*/
/* RESPONSIVENESS HANDLING */
/*-------------------------*/

@media (max-width: 768px) {
    .Panel > div > button:nth-of-type(1) {
        display: none;
    }

    .Panel > div > button:nth-of-type(2) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

