.Projects {
    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    /* Dimension */
    width: 100vw;
    height: 100vh;
    z-index: 450;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Correspond to disappearance style */
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    /* Transition duration */
    transition: 0.8s;
}

.ProjectsDisappear {
    opacity: 0;
    transform: translateY(100vh);
    pointer-events: none;
}

.Projects h1 {
    padding: 2vh 4vw;
    margin-top: 15vh;
    margin-bottom: 5vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.ProjectsList {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 5vh 2vw;
}

/* 
FOR NORMAL AND SMALLER SCREEN SIZE (<1025px):
    Total occupied length (no margin) is: 77% 
    Therefore, length of each card is: 77% / 7 = 11%
    Total length, including margin is: 77% + 1% * 2 * 7 = 91%

    On shrink, card is 4%.
    On expansion, card is 77% - (4% * 6) = 77% - 24% = 53%

FOR LARGE SCREEN SIZES (>=1025px):
    Total occupied length (no margin) is: 49%
    Therefore, length of each card is: 49% / 7 = 7%
    Total length, including margin is: 49% + 0.5% * 2 * 7 = 56%
    
    On shrink, card is 3%.
    On expansion, card is 49% - (3% * 6) = 49% - 18% = 31%
*/
.ProjectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 0;
    margin: 0 1vw;
    overflow: hidden;
    width: 11%;
    height: 50vh;
    transition: 0.8s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.ProjectCard:nth-of-type(1) {
    background-image: url('../../images/project/dragon_1.png');
}

.ProjectCard:nth-of-type(2) {
    background-image: url('../../images/project/dragon_2.png');
}

.ProjectCard:nth-of-type(3) {
    background-image: url('../../images/project/dragon_3.png');
}

.ProjectCard:nth-of-type(4) {
    background-image: url('../../images/project/dragon_4.png');
}

.ProjectCard:nth-of-type(5) {
    background-image: url('../../images/project/dragon_5.png');
}

.ProjectCard:nth-of-type(6) {
    background-image: url('../../images/project/dragon_6.png');
}

.ProjectCard:nth-of-type(7) {
    background-image: url('../../images/project/dragon_7.png');
}

.ProjectCard:hover {
    background-image: none;
}

.ProjectCardShrink {
    width: 4%;
}

.ProjectCardExpand {
    width: 53%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ProjectCardContent::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.ProjectCardContent {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.ProjectCardContent {
    display: none;
}

.ProjectCard:hover .ProjectCardContent {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
    height: fit-content;
    padding: 1vh 3vw;
}

.ProjectCardContent p {
    text-align: center;
    padding: 1vh 1vw;
    margin: 0;
}

.ProjectCardContent h2 {
    text-align: center;
}

.ProjectCardContent span {
    text-decoration: underline;
}

.ProjectCardContent a {
    text-decoration: none;
    font-weight: bold;
    padding: 1vh 1vw;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.2s;
}

.ProjectCardContent a:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border: 2px solid rgb(255, 255, 255, 0);
}

/*-------------------------*/
/* RESPONSIVENESS HANDLING */
/*-------------------------*/

@media (min-width: 1025px) {
    .ProjectCard {
        width: 7%;
        margin: 0 0.5vw;
    }

    .ProjectCardShrink {
        width: 3%;
    }

    .ProjectCardExpand {
        width: 31%;
    }
}