/*-------------------------------------------*/
/* COMPONENT: Employment outermost container */
/*-------------------------------------------*/

.Employment {
    width: 100vw;
    height: 100vh;
    top: 100vh;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
}

.Employment h1 {
    padding-top: 10vh;
}

/*-----------------------------------------*/
/* COMPONENT: Employment content container */
/*-----------------------------------------*/

/* Hide scrollbar for Chrome, Safari and Opera */
.EmploymentHistory::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .EmploymentHistory {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* Employment History list */
.EmploymentHistory {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    overflow-y: scroll;
}

/* Employment History Card component */
.EmploymentHistoryCard {
    z-index: 900;
    color: white;
    width: 50vw;
    height: fit-content;
    padding: 1vh;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    transition: 0.5s;
    transition-timing-function: ease-in;
    margin: 2vh;
    text-align: center;
}

/* HOVERING on Employment History Card component */
.EmploymentHistoryCard:hover {
    transform: rotateY(0);
}

/*-------------------------*/
/* RESPONSIVENESS HANDLING */
/*-------------------------*/

/* Nothing yet */