/*-------------------------------------------*/
/* COMPONENT: Employment outermost container */
/*-------------------------------------------*/

.Employment {
    width: 100vw;
    height: fit-content;
    min-height: 90vh;
    top: 100vh;
    z-index: 4500;
}

/*-----------------------------------------*/
/* COMPONENT: Employment content container */
/*-----------------------------------------*/

.EmploymentContent {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    gap: 0;
    column-gap: 5vw;
    align-self: center;
    justify-self: center;
}

.EmploymentSummary {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 0;
    row-gap: 5vh;
}

.EmploymentYoESummary, .EmploymentTechSummary, .EmploymentHistoryCard {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 20px 5vw;
}

/* Employment History list */
.EmploymentHistory {
    display: flex;
    flex-direction: column;
}

/* Employment History Card component */
.EmploymentHistoryCard {
    width: 25vw;
    height: 10vh;
    transition: 1.5s;
    transition-timing-function: ease-in;
    transform-style: preserve-3d;
    margin: 20px 0;
}

/* First div of Employment History Card (title) */
.EmploymentHistoryCard > div:nth-of-type(1) {
    position: absolute;
    transform: translate3d(0, 0, 50px);
}

/* Second div of Employment History Card (description) */
.EmploymentHistoryCard > div:nth-of-type(2) {
    transform: rotateY(180deg) translate3d(0, 0, 50px);
}

/* HOVERING on Employment History Card component */
.EmploymentHistoryCard:hover {
    transform: rotateY(-180deg);
}

/*-------------------------*/
/* RESPONSIVENESS HANDLING */
/*-------------------------*/

@media (max-width: 768px) {
    .EmploymentContent {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 5vh;
    }
}